<h1> Get ready to battle!! </h1>
<h2> Sign in to play: </h2>

<form action='/names' method='post'>
  <label for='player1_name'>
    Enter player 1 name:
  </label>
  <input type='text' name='player1_name'>

  <label for='player2_name'>
    Enter player 2 name:
  </label>
  <input type='text' name='player2_name'>
  <input type='submit' value='Save'>
</form>
